

.main-container {
    display:flex;
    flex-direction: column;
    z-index: 1;
}

h1 {
    text-align: center;
    font-size: 55px;
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    padding: 0px 100px;
    column-gap: 30px;
}

.book-card {
    display:flex;
    flex-direction: column;
    height: 300px;
    border: 1px solid black;
}

.title, .author, .pages {
    text-align: center;
}

.title {
    font-size: 40px;
    padding: 45px 0px;
}

.author {
    font-size: 30px;
    font-style: italic;
    padding-bottom: 20px;
}

.pages {
    font-size: 20px;
}

.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #FAFAFA;
    width: 50%;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

input[type="text"], input[type="number"] {
    height: 25px;
    font-size: 20px;
    padding: 5px 10px;
}

input[type="checkbox"] {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.div-spacing, .checkbox{
    padding: 15px 0px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.div-spacing {
    display: flex;
    flex-direction: column;
}

label[for='title'], label[for='author'], label[for='pages'] {
    margin-bottom: 10px;
}

#submit-btn {
    height: 40px;
}
