html, body {
    margin: 0;
    height: 100%;
    font-family: 'IBM Plex Serif', serif;
}

body {
    background: linear-gradient(129.48deg, #1F4037 -1.4%, #99F2C8 112.71%);
}

.main-container {
    display:flex;
    flex-direction: column;
    z-index: 1;
}

h1 {
    text-align: center;
    font-size: 55px;
    padding: 50px;
    color: #FFFFFF;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    padding: 0px 100px;
    column-gap: 50px;
}

.book-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    max-width: 100%;
    position: relative;
    margin-bottom: 50px;
    word-wrap: break-word;
    background: #FFFFFF;
    border: 2px solid #1F4037;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.title, .author, .pages {
    text-align: center;
}

.title {
    font-size: 32px;
    padding: 45px 14px;
    color: #21433A;
}

.author {
    font-size: 24px;
    font-style: italic;
    padding-bottom: 20px;
    color: #1F4037;
}

.pages {
    font-size: 16px;
    color: #1F4037;
}

.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.modal-content {
    background-color: #FFFFFF;
    width: 30%;
    padding: 30px;
    position: relative;
    display:flex;
    justify-content: center;
    border-radius: 5px;
}

.open-modal {
    visibility: visible;
    opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    max-width: 100%;
}

input[type="text"], input[type="number"] {
    height: 25px;
    max-width: 91%;
    font-size: 18px;
    padding: 5px 10px;
}

input[type="text"] {
    width: 400px;
}

input[type="number"] {
    width: 70px;
}

input[type="checkbox"] {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.div-spacing, .checkbox { 
    padding: 15px 0px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.div-spacing {
    display: flex;
    flex-direction: column;
}

label[for='title'], label[for='author'], label[for='pages'] {
    margin-bottom: 10px;
}

#submit-btn {
    height: 40px;
    width: 160px;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    background:#61A085;
    color: #ffffff;
    opacity: 0.25;
}

#submit-btn:hover {
    background: #21433A;
    border: 1.75px solid #4A80BA;
}

#close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

#add-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

#add-btn:focus, .trash-btn:focus {
    outline: none;
}

#svg-style {
    height: 44px;
    width: 44px;
    padding-top: 5px;
}

#svg-style path {
    color: #1F4037;
}

.trash-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.trash-style {
    font-size: 20px;
    color: #EB5757;
}

/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 88px;
height: 22px;
margin-left: 14px;
margin-top: 9px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #BDBDBD;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 17px;
width: 17px;
left: 4px;
bottom: 3px;
background-color: #FFFFFF;
transition: .4s;
}

input:checked + .slider {
background-color: #61A085;;
}

input:focus + .slider {
box-shadow: 0 0 1px #61A085;;
}

input:checked + .slider:before {
transform: translateX(62px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'UNREAD';
 display: block;
 position: absolute;
 transform: translate(-20%,-50%);
 top: 50%;
 right: 0;
 font-size: 12px;
 color: #FFFFFF;
}

input:checked + .slider:after
{  
  content:'READ';
  transform: translate(20%,-50%);
  left:0;
  color: #FFFFFF;
}